<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <charType>B</charType>
    <className>DatabaseLoggerFactory</className>
    <factoryType>Factory2</factoryType>
    <adapterType>OperationAdapter</adapterType>
    <imageType>PngImage</imageType>
    <sysType>UnixImageImpl</sysType>
</config>
